* {
  margin: 0;
  padding: 0;
}

.main {
  align-items: center;
  background-color: #708090;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container {
  display: flex;
  height: 90%;
  width: 90%;
}

svg {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px #00000080;
  margin: auto;
  padding: 1rem;
  width: 100%;
}

.spinner-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000df;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  z-index: 999;
}

.bar:hover {
  fill: red;
}

#title {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: auto;
}

#tooltip {
  position: absolute;
  text-align: center;
  padding: 0.5rem;
  background: white;
  color: #313639;
  border: 1px solid #313639;
  box-shadow: 0 0 10px 1px #00000080;
  border-radius: 5px;
  pointer-events: none;
  font-size: 1.5vw;
  width: 8vw;
}

a {
  position: absolute;
  bottom: 0;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  color: whitesmoke;
  font-size: 0.8rem;
  transition: 0.5s;
  opacity: 0.8;
  padding: 0.5rem;
}

a:hover {
  opacity: 1;
  filter: brightness(1.5);
}
